@charset "utf-8";
/*
@prefix dct: <http://purl.org/dc/terms/> .
<> dct:creator "Arnau Siches" ;
  dct:issued "2009-09-28" ;
  dct:modified "2009-10-07" ;
  dct:description "Basic stylesheet for dml2html HTML output" ;
*/

.note {
  margin: 1em;
  padding: 1em;
}
.sidebar {
  border: 3px solid #000;
}

q {
  quotes: none;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}
table.w30 {
  width: 30em;
}
table.w40 {
  width: 40em;
}
table.center th,
table.center td {
  text-align: center;
}

th {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

.element, .attribute, .value {
  color: #590;
}

.xml .tag {
  color: blue;
}
.xml .attribute {
  color: green;
}
.xml .value {
  color: #950;
}
.xml .ns {
  color: #005;
}
.xml .attribute .ns {
  color: #050;
}

.css .rule {}
.css .selector {
  color: #056;
}
.css .property {
  color: #900;
}
.css .value {
  color: #090;
}
.css .important {
  color: #f00;
  font-weight: bold;
}
