@charset "utf-8";
/*
@prefix dct: <http://purl.org/dc/terms/> .
<> dct:creator "Arnau Siches" ;
  dct:created "2009-09-28" ;
  dct:modified "2009-10-23" ;
  dct:description "Basic stylesheet for dml2html HTML output" ;
  dct:rights "Copyright 2009 Arnau Siches" ;
  dct:license """
    This file is part of dml2html.

    dml2html is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    dml2html is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with dml2html.  If not, see http://www.gnu.org/licenses/.
  """ .
*/

body {
  margin: 2em;
}

.note {
  margin: 1em;
  padding: 1em;
}
.sidebar {
  border: 3px solid #000;
}
.footnotes {
  border-top: 3px solid #000;
  margin-top: 3em;
}
.footnotes ul {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
.footnotes li {
  margin: 0;
}

q {
  quotes: none;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}
table.w30 {
  width: 30em;
}
table.w40 {
  width: 40em;
}
table.center th,
table.center td {
  text-align: center;
}

th {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

.element, .attribute, .value {
  color: #590;
}

.xml .comment {
  color: #555;
  font-style: italic;
}
.xml .tag {
  color: blue;
}
.xml .attribute {
  color: green;
}
.xml .value {
  color: #950;
}
.xml .ns {
  color: #005;
}
.xml .attribute .ns {
  color: #050;
}

.css .rule {}
.css .selector {
  color: #056;
}
.css .property {
  color: #900;
}
.css .value {
  color: #090;
}
.css .important {
  color: #f00;
  font-weight: bold;
}


.draft {
  background: #FFE862;
}
.review {
  background: #6CF;
}
.added {
  background: #DFD;
}
.deleted {
  background: #FDD;
}

.example {
  margin: 2em auto;
}
.example [property="dct:title"] {
  text-align: center;
}
.example pre {
  border: 3px solid #CCC;
  border-width: 3px 0;
  padding: 1em;
}

#toc ul {
  list-style: none;
}
#toc .header-number {
  background: #FFF;
}

.metadata {
  background: #FFC;
  padding: 1em;
}
.metadata dt {
  font-weight: bold;
}

#footer {
  border-top: 3px solid #000;
  margin: 2em 0;
  font-size: 0.9em;
}
